**Exercise:*1*

1. Check if `15` is greater than `7`.
2. Use `bool()` to check the truthiness of `""` (empty string), `[]` (empty list), and `"Hello"`.

---

In [17]:
B = 15>7
print(B)

print(bool(""))
print(bool([]))
print(bool("Hello"))

True
False
False
True

**Exercise:*2*

1. Write an expression to check if `10` is divisible by `2`.
2. Test if `"a"` is in `"apple"`.
3. Use `and` to check if `5 < 10` **and** `10 < 20`.

In [ ]:
if 10/2:
    print("10 is divisible by 2")
else:
    print("10 is not divisible by 2")

In [18]:
A = "apple"
for a in A:
    print(a)

a
p
p
l
e

In [ ]:
if 5 < 10 and 10 < 20:
    print("5 is < 10 and 10 is < 20")
else:
    print("5 is not < 10 and 10 is not < 20")

**Exercises:*3*

1. Create a list of 5 numbers, change the second number, and print the list.
2. Add `"grape"` to a fruit list.
3. Remove the last item from the list.
4. Use a loop to print all items.
5. Create a new list of even numbers between 1 and 10 using list comprehension.

In [ ]:
# example for more clearity on list comprehension.
lst = []
for n in range(1, 10):
    if n % 2 != 0:
        lst.append(n)

print(lst)

In [ ]:
lst = [1, 2, 3, 4, 5,]
lst[1] = 6

print(lst)

In [ ]:
fruits = ["apple", "banna", "cherry"]
fruits.append("grape")

print(fruits)

In [ ]:
fruits = ["apple", "banna", "cherry"]
fruits.pop()

print(fruits)

In [ ]:
fruits = ["apple", "banna", "cherry"]
for fruit in fruits:
 

   print(fruit)

In [ ]:
lst = []
for n in range(1, 11):
    if n % 2 == 0:
        lst.append(n)

print(lst)

**Exercises:*4*

1. Create a tuple of 4 cities and print the second one.
2. Unpack a tuple into 3 variables.
3. Join two tuples and print the result.

In [ ]:
tpl = ("abuja", "lagos", "ilorin", "kano")

print(tpl[1])

In [ ]:
tp = "my name is fathia, i have and favour some fod!"

tp.count("a")

print()

In [ ]:
# for more clearity on tuple 
tpl = ("abuja", "lagos", "ilorin", "kano")
lst = list(tpl)
lst.remove("kano")
new_tpl = tuple(lst)

print(new_tpl)

In [ ]:
tpl = ("abuja", "lagos", "ilorin", "kano")

lst = list(tpl)

lst.pop()

tpl1 = tuple(lst)

print(tpl1)

In [ ]:
tpl1 = ("you", "me","if")
tpl2 = ("abuja", "lagos", "ilorin")
tpl3 = (tpl1 + tpl2)

print(tpl3)

**Exercises:*5*

1. Create a set of 3 colors and add one more.

In [ ]:
color = {"yellow", "blue", "brown"}

color.add("green")

print(color)

2. Remove an item from the set.

In [ ]:
color = {"yellow", "blue", "brown"}
color.remove("yellow")

print(color)

3. Find the union and intersection of `{1,2,3}` and `{2,3,4}`.

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b))
print(a.intersection(b))

**Exercises:*6*

1. Create a dictionary with keys: `"name"`, `"age"`, `"city"`.

In [ ]:
hire = {"name": "fathia", "age": 35, "city": "abuja" }

print(hire)

2. Update the `"city"` value.

In [ ]:
hire["city"] = "london"

print(hire)

3. Add a new key `"grade"`.

In [ ]:
hire["grade"] = 100

print(hire)

4. Loop and print all keys and values.

In [ ]:
for key, value in hire.items():

    # print(key, ":", value)
    print(f"{key} : {value}")

### **4. Exercises**
#### **Exercise 1: `if...else` Practice**
```python
# Check if a number is positive, negative, or zero
num = float(input("Enter a number: "))
# Your code here

In [ ]:
num = float(input("Enter a number:"))
if num > 0:
    print("positive")
elif num < 0:
    print("negative")
else:
    print("zero")

#### **Exercise 2: `match` Practice**
```python
# Classify an HTTP status code:
# - 200: "OK"
# - 301: "Moved Permanently"
# - 404: "Not Found"
# - 500: "Server Error"
# - Others: "Unknown Status"
status = int(input("Enter HTTP status: "))
# Your code here

In [ ]:
status = int(input("Enter HTTP status: "))
match status:
    case 200 | 201:
        print("Ok")
    case 301:
        print("Moved Permanently")
    case 404:
        print("Not Found")
    case 500:
        print("Server Error")
    case _:
        print("Unknown Status")

In [ ]:
# General example exercise
RT = input("Enter Rice_type").lower()
Jf = 1800
Fr = 1400
Extra = 2500
total = 0

if Jf == "jollofrice" :
    print(you)

#### **Exercise 1: `while` Loop**
```python
# Print numbers from 1 to 10 using a while loop
# Your code here

In [ ]:
num = 1

while num < 11:
    print(num)

    num += 1

#### **Exercise 2: `for` Loop**
```python
# Calculate the sum of all numbers from 1 to 100
# Your code here

In [ ]:
num = 0 
for o in range(1, 100):
    num += o
print(num)

In [ ]:
num = 0
for i in range(1, 100):
    num += i
print(num)
print("total is completed")

#### **Exercise 3: Loop Control**
```python
# Print all odd numbers between 1 and 20, skipping multiples of 5
# Your code here

In [ ]:
num = 1
while num <20:
    num += 1
    if num % 2 == 0:
        continue
    if num % 5 == 0:
        continue
    print(num)

##### **Exercise 1: Function Basics**
```python
# Write a function that takes a name and returns a greeting message
# Example: greet("Alice") → "Hello, Alice!"

In [ ]:
name = input("Enter your name")
def greet(t):
    return (f"Hello, {t}!")

result = greet(name)
print(result)

##### **Exercise 2: Lambda Practice**
```python
# Convert this function to a lambda:
def multiply(a, b):
    return a * b

In [ ]:
multiply = lambda a, b: a*b

print(multiply(50, 120))


##### **Exercise 3: Higher-Order Functions**
```python
# Use `filter()` and a lambda to extract odd numbers from a list
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
numbers = (1, 2, 3, 4, 5, 6)

odd = tuple(filter(lambda x: x % 2 == 1, numbers))   #why numbers is called argument and the position 

print(odd)

#### **Exercise 4: Advanced Function**
```python
# Write a function that accepts variable arguments and returns their average
# Example: average(1, 2, 3) → 2.0

In [ ]:
def avg(*args):
    size = len(args)
    average = sum(args)/size
    return average

print(avg(2,3,4,5,6,7,7,7,7))

Python Challenge
Your task is to write a Python program that will:

 Take three inputs: l, h, and L: The length of the telephone box shadow (l), the height of the telephone box (h) and the length of the shadow of the Elizabeth Tower (L)
 Use the three input values to work out the height of the Elizabeth Tower (H)
 Output the estimated height of the Elizabeth Tower to one decimal place.

In [ ]:
l = float(input("The length of the telephone box shadow"))
h = float(input("The height of the telephone box"))
L = float(input("The length of the shadow of the Elizabeth Tower"))

H = (h*L)/l 

print(f"{H:.2f}")

Exercise:!!

Create a code and name it LOVER'S CALCULATOR, collect two input from user as (person's name & lover's name) 
calculate the length of their name, and now check if the length of the person's name is greater than the lover's name if so they're not compatible but if the length of the lover's name is greater than the person's name they're compatible.

In [ ]:


def love_calculator():
    pn = input("Enter your name")
    ln = input("Enter your lover name")
    # print(pn)
    # print(ln)

    if not pn:
        return print("Your name is required!")
    
    elif not ln:
        return print("Your lover's name is required!")
    
    elif not pn.isalpha() or not ln.isalpha():
        return print("Only name accepted!")

    elif len(pn) > len(ln) :
        print("Lover's are not compatible")
    else:
        print("Lover's are compatible")

love_calculator()

Exercise 

Write a function to calculate Area and Perimeter of a circle, using math module for #pi value. 
and collect input from user

In [ ]:
import math

def circle_info():
    Radius = int(input("Enter your radius"))
    
    Area = math.pi*math.pow(Radius, 2)
    perimeter = 2*math.pi*Radius
    Diameter = 2*Radius
    
  
    
    # print(Radius)
    print(f"Area of the circle is: {Area:.2f}")
    print(f"Perimeter of the cirle is: {perimeter:.2f}")
    print(f"Diameter of the cirle is: {Diameter:.2f}")

circle_info()

#### **3. Practice Exercises**

1. Use `math.sqrt()` to calculate the square root of 144.
2. Find the ceiling and floor of `7.3`.
3. Convert 180 degrees to radians.

In [ ]:
print(math.sqrt(144))

In [ ]:
print(math.ceil(7.3))
print(math.floor(7.3))

In [ ]:
print(math.radians(180))
print(f"{math.radians(180):.2f}")

##### **Intermediate Level**

4. Compute the factorial of 7.
5. Find the greatest common divisor (GCD) of 54 and 24.
6. Calculate `log10(1000)` using the math module.
7. Calculate the sine of 30 degrees.

In [ ]:
print(math.factorial(7))
print(math.gcd(54, 24))
print(math.log10(100))
print(f"{math.sin(30):.2f}")

##### **Advanced Level**

8. Compute the number of ways to choose 4 students out of 10 (combinations).
9. Calculate the least common multiple (LCM) of 15 and 20.
10. Write a function that takes a list of numbers and returns a new list of their square roots using `math.sqrt()`.

In [ ]:
print(math.comb(10, 4))
print(math.lcm(15, 20))

In [ ]:
import math 

lst = [1, 2, 3, 4, 5, 6]

def lst_number(lst):
    new_lst = []
    for i in lst:
        new_lst.append(round(math.sqrt(i),2))
    return new_lst

print(lst_number(lst))

#### **Beginner:**

1. Calculate the mean, median, and mode for `[5, 10, 15, 20, 25]`.
2. Find the harmonic mean of `[10, 20, 40]`.

In [ ]:
import statistics as stats

nums = [5, 10, 15, 20, 25]
print(stats.mean(nums))
print(stats.median(nums))
print(stats.mode(nums))

In [ ]:
num = [10, 20, 40]

print(round(stats.harmonic_mean(num), 2))

##### **Intermediate:**

3. Calculate the variance and standard deviation for `[2, 4, 4, 4, 5, 5, 7, 9]`.
4. For `[1, 1, 2, 2, 3]`, find all the modes using `multimode()`.

In [ ]:
x = [2, 4, 4, 4, 5, 5, 7, 9]

print(round(stats.variance(x), 2))
print(round(stats.stdev(x), 2))

In [ ]:
y = [1, 1, 2, 2, 3]

print(stats.multimode(y))

##### **Advanced:**

5. Write a function that accepts a list of numbers and returns a dictionary with **mean, median, variance, and standard deviation**.
6. Given the dataset `[10, 12, 23, 23, 16, 23, 21, 16]`, find the **population variance and population standard deviation**.

In [ ]:
num = [2, 10, 15, 5, 23]

def dict_numbers(num):
    new_dict = {}
    new_dict["mean"] = stats.mean(num)
    new_dict["median"] = stats.median(num)
    new_dict["variance"] = stats.variance(num)
    new_dict["standard deviation"] = round(stats.stdev(num), 2)

    return new_dict

print(dict_numbers(num))

In [ ]:
data = [10, 12, 23, 23, 16, 23, 21, 16]

print(stats.pvariance(data))
print(round(stats.pstdev(data), 2))

## **7. Exercises**
### **Exercise 1: Basic Class**
```python
# Create a `Car` class with attributes `brand` and `model`
# Add a method `display_info()` that prints "Brand: X, Model: Y"

In [ ]:
class Car:
    def __init__(self, Brand, Model):
        self.brand = Brand
        self.Model = Model

    def display_info(self):
        print("Brand:",self.brand, ", " "Model:",self.Model)

my_car = Car("Tesla", "Model 3")    

my_car.display_info()

### **Exercise 2: Inheritance**
```python
# Create a `ElectricCar` class that inherits from `Car`
# Add a `battery_size` attribute and override `display_info()`

In [ ]:
class ElectricCar(Car):
    def __init__(self, Brand, Model, Battery_size):
        super().__init__(Brand, Model)
        self.battery = Battery_size
    
    def display_info(self):  
        print("Brand:",self.brand, ", " "Model:",self.Model, ", " "Battery size:",self.battery )

electric_car = ElectricCar("Tesla", "Model 3", "450V") 

electric_car.display_info()

### **Exercise 3: Encapsulation**
```python
# Modify `Car` to make `brand` private property

In [ ]:
class Car:
    def __init__(self, Brand, Model):
        self.__brand = Brand
        self.Model = Model

my_car = Car("Tesla", "Model 3")    
my_car.__brand
# my_car.Model

### **Exercise 4: Polymorphism**
```python
# Create a `Vehicle` class with a `move()` method
# Create subclasses `Car` and `Boat` with their own `move()` implementations

In [ ]:
class Vehicle:
    def move(self):
        print("This is the Vehicle class")

class Car(Vehicle):
    def move(self):
        print("Driving!")

class Boat(Vehicle):
    def move(self):
        print("Sail")

def sayTask(obj):
    return obj.move()


obj1 = Vehicle()
obj2 = Car()


sayTask(obj1)
sayTask(obj2)

In [ ]:
name = input("Enter your name")
nickname = input("Enter your nickname")

class Brand_generator:

    def __init__(self, Name, Nickname):
        
        self.name = Name
        self.nickname = Nickname
      
    def user_name(self):
        a = self.name[:3]
        return a
       
    def user_nickname(self):
        b = self.nickname[-3:]
        return b

    def Brand_Name(self, a, b):
        return a+b


bg_name = Brand_generator(name, nickname)
username = bg_name.user_name()
user_nickname = bg_name.user_nickname()

brand_name = bg_name.Brand_Name(username, user_nickname)

print(brand_name.upper())

Result= f"""

++++++++++++++++++++++++++++++++++
+                                +
         WELCOME TO {brand_name.upper()}    
+                                +
++++++++++++++++++++++++++++++++++

"""

print(Result)

In [ ]:
# y = True
# while y == True:
#   x = input("Enter a number:")
#   try:
#     x = float(x)
#     y = False
#   except:
#     print("Wrong input, please try again.")

# print("Thank you!")

In [ ]:
y = "password"
while y == "password":
  x = input("Enter a password")
  try:
    x = float(x)
    y = "wrong"
  except:
    print("Wrong input, please try again.")

print("please!")

In [ ]:
f = open("books/demofile.txt")
print(f.read())

# f = open("demofile.txt")
# print(f.read())

In [ ]:
with open("books/demofile.txt") as bk:
    print(bk.read())

In [ ]:
with open("books/simple.yuy")  as bs:
    print(bs.read())

In [ ]:
f = open("books/demofile.txt")
print(f.read(150))
f.close()

In [ ]:
f = open("books/demofile.txt")
print(f.read(100))

#### 🏋 Exercises

1. Create a file and write your name into it.
2. Append 3 more lines of text to the file.
3. Read the file and print only the first 2 lines.

In [ ]:
with open("books/simple.yuy", "w") as bs:
    bs.write("My name if Fathyy\n")
with open("books/simple.yuy", "a") as bs:
    bs.write("Timberland is my favourite shoe\n")
    bs.write("I like eating delicious meal\n")
    bs.write("Money is always essencial")

bs = open("books/simple.yuy", "r")
for i in bs:
    print(i)
# print(bs.readline())
# print(bs.readline())
# print(bs.read())

4. Copy the contents of a `.txt` file into another file. 😂😂😂

In [ ]:
with open("books/simple.yuy", "r") as sy:
    simple = sy.read()

with open("books/demofile.txt", "a") as sy:
    sy.write(simple)

5. Write a program to count the number of words in a text file.

In [ ]:
with open("books/demofile.txt") as bs:
    demo = len(bs.read().split(" "))
    print(f"The total number of words in this file is {demo} ")

### create a class with an __init__ function that will accept 4 input, the create 2 new method; 1 is for write into file while the 2 will be read from the file.

In [5]:
%pwd            #present working directorate

%cd

C:\Users\USER

In [19]:
with open("c:/Users/USER/Desktop/python/my_file.txt", "w") as my:
    my.write("Now the file is empyth \n")

In [20]:
with open("c:/Users/USER/Desktop/python/my_file.txt", "r") as my:
    print(my.read())

Now the file is empyth

In [2]:
name = input("Enter your name")
gender = input("Enter your gender")
age = input("Enter your age")
complex = input("Enter your complexion")

import os
class Person:
    def __init__(self, Name, Gender, Age, Complexion):
        self.name = Name
        self.gender = Gender
        self.age = Age
        self.complex = Complexion
        

    def write_file(self):
        if os.path.exists("c:/Users/USER/Desktop/python/my_file.txt"):
            with open("c:/Users/USER/Desktop/python/my_file.txt", "a") as my:
                my.write(f'"Name":{self.name}, Gender:{self.gender}, Age:{age}, Complexion:{self.complex} \n')
                print("Data saved successfully😇")
        else:
            with open("c:/Users/USER/Desktop/python/my_file.txt", "w") as my:
                my.write(f'Name:{self.name}, Gender:{self.gender}, Age:{age}, Complexion: {self.complex} \n')
                print("Data saved successfully😇")       
    def read_file(self):
        with open("c:/Users/USER/Desktop/python/my_file.txt", "r") as my:
            print(my.read())

my_person = Person(name, gender, age, complex)
my_person.write_file()
my_person.read_file()

Data saved successfully😇
Now the file is empyth
"Name":"Fathia", "Gender":"Female", "Age":"50", "Complexion":"Caramel"
Name:Fathia, Gender:Female, Age:50, Complexion:Caramel
Name:f\thhj, Gender:xnmhj, Age:6, Complexion:dxnb
"Name":Yusuf, Gender:Male, Age:13, Complexion:Dark

In [1]:
%pwd

'c:\\Users\\USER\\Desktop\\python'

In [3]:
%pip install requests

Collecting requests
  Downloading requests-2.32.5-py3-none-any.whl.metadata (4.9 kB)
Collecting charset_normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.4.3-cp312-cp312-win_amd64.whl.metadata (37 kB)
Collecting idna<4,>=2.5 (from requests)
  Downloading idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Downloading urllib3-2.5.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests)
  Downloading certifi-2025.8.3-py3-none-any.whl.metadata (2.4 kB)
Downloading requests-2.32.5-py3-none-any.whl (64 kB)
Downloading charset_normalizer-3.4.3-cp312-cp312-win_amd64.whl (107 kB)
Downloading idna-3.10-py3-none-any.whl (70 kB)
Downloading urllib3-2.5.0-py3-none-any.whl (129 kB)
Downloading certifi-2025.8.3-py3-none-any.whl (161 kB)
Installing collected packages: urllib3, idna, charset_normalizer, certifi, requests

   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   -------- ------------------------------- 1/5 [idna]
   -------- ------------------------------- 1/5 [idna]
   ---------------- ----------------------- 2/5 [charset_normalizer]
   ---------------- ----------------------- 2/5 [charset_normalizer]
   -------------------------------- ------- 4/5 [requests]
   -------------------------------- ------- 4/5 [requests]
   ---------------------------------------- 5/5 [requests]

Successfully installed certifi-2025.8.3 charset_normalizer-3.4.3 idna-3.10 requests-2.32.5 urllib3-2.5.0
Note: you may need to restart the kernel to use updated packages.


### Write a Python script to fetch latest weather updates using weather map API
### Using the request package

In [16]:
import requests

Weather = requests.get('https://api.openweathermap.org/data/2.5/weather?q=Lagos,Nigeria&APPID=07411e7270818484d9a9db9016677da8')

print(Weather.json())

{'coord': {'lon': 3.75, 'lat': 6.5833}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 302.63, 'feels_like': 304.51, 'temp_min': 302.63, 'temp_max': 302.63, 'pressure': 1013, 'humidity': 57, 'sea_level': 1013, 'grnd_level': 1013}, 'visibility': 10000, 'wind': {'speed': 3.09, 'deg': 225, 'gust': 2.69}, 'clouds': {'all': 55}, 'dt': 1757073180, 'sys': {'country': 'NG', 'sunrise': 1757050644, 'sunset': 1757094624}, 'timezone': 3600, 'id': 2332453, 'name': 'Lagos', 'cod': 200}

In [1]:
name = "Fathyy"
age = 40

print("My name is", name )
print("I am", age, "years old")
print("I am learning Python")

My name is Fathyy
I am 40 years old
I am learning Python

Create two variables a = 15 and b = 4.

Print their sum, difference, product, and quotient

In [2]:
a = 15
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

19
11
60
3.75

In [7]:

number = 6
if number % 2 == 0:
    print("The numbers are even")
else:
     print("The numbers are odd")

The numbers are even

Write a program that checks someone’s age and prints:

“Child” if age < 13

“Teenager” if age < 20

“Adult” otherwise

In [9]:
age = 25

if age < 13:
    print("Child")
elif age < 20:
    print("Teenager") 
else:
    print("Adult")

Adult

Write a Python program that checks a student’s score and prints their grade:

A if score ≥ 70

B if 60 ≤ score < 70

C if 50 ≤ score < 60

D if 40 ≤ score < 50

F if score < 40

In [12]:
score = 80
if score >= 70:
    print("Grade: A")
elif score >= 60:
    print("Grade: B") 
elif score >= 50:
    print("Grade: C")
elif score >= 40:
    print("Grade: D") 
else:
    print("Grade: F")

Grade: A

In [13]:
for i in range(10):
    print("Python is fun")

Python is fun
Python is fun
Python is fun
Python is fun
Python is fun
Python is fun
Python is fun
Python is fun
Python is fun
Python is fun

Create a list of 5 favorite foods, then write a loop that prints:

I like ___


(for each food in your list)

In [15]:
foods = ["Buger", "Pizza", "Sharwarma", "Swallow", "Rice with turkey"]
for food in foods:
    print("I like", food)

I like Buger
I like Pizza
I like Sharwarma
I like Swallow
I like Rice with turkey

Write a while loop that prints numbers 1 to 10.

👉 Hint: Start with num = 1 and keep looping while num <= 10. Would you like to try it?

In [16]:
num = 1
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

Write a function called square_number that takes one number as input and returns its square.
👉 Example: if you call square_number(4), it should return 16.

In [18]:
def square_number(num):
    return num*num
total = square_number(3)
print(total)

9

Write a function called calculator(a, b, operation) that takes two numbers and an operation ("add", "subtract", "multiply", "divide") and returns the result

In [ ]:
a = float(input("Enter any number"))
b = float(input("Enter any number"))
operation = input("Enter operation ()").upper()

def Calculator(a, b, operation):

    if operation == "ADD":
        return a+b  
    elif operation == "SUBTRACT":
        return a-b
    elif operation == "MULTIPLY":
        return a*b
    elif operation == "DIVIDE":
        if b != 0:
            return a/b
        else:
            return "Error: zero cannot be divide"
    else:
        return "Invalid operation"  

      
print("result:", Calculator(a, b, operation))

result: 49.0

In [3]:
import random
secret_number = random.randint(1, 20)

print("WELCOME TO THE GUESSING GAME😁")
print("guess any number from 1 to 20")

guess = int(input("Enter a number"))


if guess == secret_number:
    print("you nailed it!")
elif guess > secret_number:
    print("Too high, try again")
else:
    print("Too low, try again")        

print("The guessing number is:", secret_number)

WELCOME TO THE GUESSING GAME😁
guess any number from 1 to 20
Too low, try again
The guessing number is: 10

Given a month as an integer from 1 to 12, return to which quarter of the year it belongs as an integer number.

For example: month 2 (February), is part of the first quarter; month 6 (June), is part of the second quarter; and month 11 (November), is part of the fourth quarter.

write python code for that.

In [1]:
def quarte_of_years(month):
    months = range(13)
    if month in months[:4]:
        return 'Quarter: 1' 
    elif month in months[4:7]:
        return 'Quarter: 2' 
    elif month in months[7:10]:
        return 'Quarter: 3' 
    else:
        return 'Quarter: 4' 
    
quarte_of_years(3)

'Quarter: 1'

In [ ]:
opposite = int(input("Enter a number"))
negative = int(input("Enter a number"))

def inverse():
    if :
        return f"+{num}"
    elif num < 0:
    else:
        return f"+{num}"
print(opposite())

7