In [ ]:

# i want to print all this 

print("It's alright")
print("He is called 'Johnny'")   #
print('He is called "Johnny"')
print (2.6)

:

In [ ]:
fruits = ("banana")
for i in fruits:

In [16]:
a = """

++++++++++++++++++++++++++++
+                          +
+ WELCOME TO MY COFFE SHOP +
+                          +
++++++++++++++++++++++++++++

"""

print(a)

++++++++++++++++++++++++++++
+                          +
+ WELCOME TO MY COFFE SHOP +
+                          +
++++++++++++++++++++++++++++

In [5]:
z = 2
y = 3.0 
x = "name"

print(type(z))
print(type(y))
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>

In [1]:
a = "case"        #case seensitive
# A = ""

print(A)
# print()

NameError: name 'A' is not defined

In [3]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [4]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [10]:
x = 5
y = "John"
print(x, y)

5 John

In [17]:
a = "Hello, World!"

b = len(a)



# print(b)
print(a[-3:])
# print(len(a[7:13]))
# print(len(a[:-4]))
# print(a[0:13])

ld!

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
txt = "The best things in life are free!"
print("hthrhrhrh" in txt)

True

In [20]:
b = "Hello, World!"
print(b[:5])

Hello

In [21]:
print(b[4])

o

In [22]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [23]:
b = "Hello, World!"
print(b[-1:-13:-1])  # This will print the string in reverse order

!dlroW ,olle

In [24]:
b = "Hello, World!"

print(b[0:12:3])  # This will print the last character of the string

Hl r

In [25]:
b = "Hello, World!"
print(b[-5:-2])

orl

#### Upper Case

In [26]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [27]:
name = "ibraheem"


print(name.upper())
print(name.lower())
print(name.capitalize())

IBRAHEEM
ibraheem
Ibraheem

In [28]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [29]:
a = "Hello, World! am Here"
print(a.replace("H", "J"))

Jello, World! am Jere

In [30]:
a = "Hello-World!-am-Here"
print(a.split("-")) # returns ['Hello', ' World!']

['Hello', 'World!', 'am', 'Here']

In [31]:
a = "Hello"
b = "World"
c = a +" "+ b
print(c)

Hello World

In [32]:
age = 36
name = "John"
txt = f"My name is John, I am {age}"

print(f"My name is {name}, I am {age} yeaers old")






print("my name is John, I am", age, "years old")

print(txt)


# print(txt)

My name is John, I am 36 yeaers old
my name is John, I am 36 years old
My name is John, I am 36

In [33]:
# txt = "We are the so-called "Vikings" from the north."





txt = "We are the so-called \"Vikings\" from the north."
txt2 = 'We are the so-called "Vikings" from the north.'

# print(txt)
print(txt2)

We are the so-called "Vikings" from the north.

In [7]:
thistuple = ("apple", "banana", "cherry")
thistuple.append("mango")
print(thistuple)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
# print(thistuple[1])

for i in thistuple:
    print(i)

apple
banana
cherry

In [8]:
thislist = ["apple", "banana", "cherry"]
# thislist.insert(1, "pawpaw")
# print(thislist)
print(len(thislist))

3

In [9]:
thislist = ["apple"]
print(type(thislist))

<class 'list'>

In [12]:
thistuple = "apple"
print(type(thistuple))

<class 'str'>

In [ ]:
tuple1 = "abc", 34, True, 40, "male"
print(type(tuple1))

<class 'bool'>

In [29]:
thistuple = tuple(("apple", "banana", "cherry", "mango")) # note the double round-brackets
# print(thistuple)

if "mango" in thistuple:
    print("yes!")
else:
    print("No!")

yes!

In [23]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [27]:
tuple1 = ("apple", "banana", "cherry")
lst = list(tuple1)
lst.append("kiwi")
tuple1 = tuple(lst)

print(tuple1)

('apple', 'banana', 'cherry', 'kiwi')

In [26]:
tuple1 = ("apple", "banana", "cherry")
lst = list(tuple1)
lst.insert(1, "kiwi")
tuple1 = tuple(lst)

print(tuple1)

('apple', 'kiwi', 'banana', 'cherry')

In [28]:
tuple1 = ("apple", "banana", "cherry")
lst = list(tuple1)
lst.remove("apple")
tuple1 = tuple(lst)

print(tuple1)

('banana', 'cherry')

In [31]:
tuple1 = ("apple", "banana", "cherry")
# del(tuple1)

print(tuple1)

('apple', 'banana', 'cherry')

In [32]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [34]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [35]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(*green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

['apple', 'banana', 'cherry']
strawberry
raspberry

In [36]:
thistuple = ("apple", "banana", "cherry")
for r in thistuple:
  print(r)

apple
banana
cherry

In [41]:
thistuple = ("apple", "banana", "cherry")
for x in range(len(thistuple)):
  print(x)

0
1
2

In [48]:
thistuple = ("apple", "banana", "cherry", "mango", "osanwewe")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry
mango
osanwewe

In [43]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [51]:
tuple1 = ("a", "b" , "c")
tuple2 = ("apple", "banana", "cherry")


tuple3 = tuple2 + tuple1
print(tuple3)

('apple', 'banana', 'cherry', 'a', 'b', 'c')

In [53]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 4

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')