In [ ]:
import sqlite3

In [ ]:
com = sqlite3.connect('sqlite.db')

In [ ]:
ex = com.cursor()

In [8]:
ex.execute('DROP TABLE Employees')

In [ ]:
ex.execute(''' 
    CREATE TABLE customers(
        Customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
        Customer_name CHAR(50),
        Country VARCHAR(50),
        Gender VARCHAR(20),
        City TEXT
    )
''')

In [ ]:
i = 0
while i <= 1:
    Customer_name = input("Please enter your name")
    Gender = input("Your gender")
    City = input("Enter your city")
    Country = input("Your country?")
    Return = "INSERT INTO customers (Customer_name, Gender, City, Country) VALUES (?,?,?,?)"
    cur.execute(Return, (Customer_name, Gender, City, Country))
    com.commit()
    i += 1

In [ ]:
cur.execute('SELECT* FROM customers')
rows = cur.fetchall()
print("List of all Customers")

for row in rows:
    print(row)

In [ ]:
cur.execute('''
    UPDATE Customers SET City = ?, Country = ? WHERE Customer_id = ?
    ''', ('Nile', 'South Korean', 1))

In [ ]:
cur.execute('''
    SELECT* FROM customers WHERE Customer_id = ?
    ''', (1,))
rows = cur.fetchone()


print(rows)

In [ ]:
cur.execute('''
                delete from customers WHERE Customer_id = ?
            ''', (8,))
conn.commit()

In [9]:
ex.execute ('''
    CREATE TABLE Employees(
        Employee_id INT,
        Full_name VARCHAR(50), 
        Department CHAR(20),
        City TEXT 
    )
''' )

In [14]:
ex.executemany('''
    INSERT INTO Employees (Employee_id, Full_name, Department, City)
    VALUES(?,?,?,?)
''', [
    (1, 'Alice Johnson', 'HR', 'New York'), (2, 'Bob Smith', 'Finance', 'New York'),
    (3,'Charlie Lee', 'Finance', 'Chicago'), (4,'Diana Prince', 'IT','New York'),
    (5,'Ethan Brown','IT','New York'), (6, 'Fiona White','Marketing','Boston'),
    (7,'George King','HR','New York'), (8, 'Hannah Scott','Finance','New York')    
])

In [12]:
ex.execute('''
    INSERT INTO Employees (Employee_id, Full_name, Department, City)
    VALUES(?,?,?,?)
''', 
    (1, 'Alice Johnson', 'HR', 'New York'))

In [ ]:
ex.execute(''' 
    delete)

In [15]:
com.commit()

In [ ]:
ex.execute('SELECT * FROM Employees WHERE city= "New York"')
row = ex.fetchone()
print(row)

In [62]:
import mysql.connector

In [63]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password='08023256300',
  database="myrecords"
)

if mydb.is_connected():
    print("Successfully!")

Successfully!

In [64]:
mycursor = mydb.cursor()

Create database and table collect input

In [23]:
mycursor.execute('''
    CREATE TABLE myrecords(
        ID INT AUTO_INCREMENT PRIMARY KEY,
        NAME CHAR(20),
        GENDER TEXT,
        COURSE VARCHAR(30))
''')

In [58]:
Name = input("Enter your Name")
Gender = input("Enter your Gender")
Course = input("Enter your course")

KeyboardInterrupt: Interrupted by user

In [74]:
class RecordsManagement:
    def Create(self, Name, Gender, Course):
        self.name = Name
        self.gender = Gender
        self.course = Course
        sql = "INSERT INTO myrecords (NAME, GENDER, COURSE) VALUES (%s, %s, %s)"
        val = (self.name, self.gender, self.course)
        mycursor.execute(sql, val)
        mydb.commit()

    def Read(self):
        sql = "SELECT * FROM myrecords"
        mycursor.execute(sql)
        myresult = mycursor.fetchall()
        return myresult

    def Update(self, ID, Name, Gender, Course):
        self.ID = ID
        self.name = Name
        self.gender = Gender
        self.course = Course
        sql = "UPDATE myrecords SET Name = %s, Gender = %s, Course = %s WHERE ID = %s"
        values = (self.name, self.gender, self.course, self.ID)
        mycursor.execute(sql, values)
        mydb.commit()  
        return "Record Updated successfully!"  

    def Delete(self, ID):
        self.ID = ID
        sql = "Delete from myrecords where id = %s"
        values= (self.ID,)
        mycursor.execute(sql, values)
        mydb.commit()

        print("Record deleted successfully!")

In [75]:
recordsmanagement = RecordsManagement()

In [60]:
print(recordsmanagement.Create(Name, Gender, Course))

None

In [ ]:
print(recordsmanagement.Update(1, Name, Gender, Course))

In [79]:
datas = recordsmanagement.Read()

for data in datas:
    print(data)

(2, 'Mr. Ibrahim', 'Male', 'Software Engineer')

In [78]:
recordsmanagement.Delete(3)

Record deleted successfully!