---

## ðŸ“˜ Python Beginner Notes + Exercises

---

#### ðŸ”¹ 1. Python Booleans

**Notes:**

* A Boolean represents one of two values: `True` or `False`.
* Often the result of comparisons.
* Example:

In [10]:
x = 10
y = 5
# print(x > y)   # True
print(bool(10)) # False

True

In [18]:
a = bool("tttgg")
b = True

print(a)
print(b)

True
True

In [12]:
coming_soon = True
if 7>5:
    coming_soon = False

print(coming_soon)

False

#### ðŸ”¹ 2. Python Operators

**Notes:**

* **Arithmetic:** `+ - * / % ** //`
* **Comparison:** `== != > < >= <=`
* **Logical:** `and or not`
* **Assignment:** `= += -= *= /=`
* **Membership:** `in, not in`
* **Identity:** `is, is not`

In [19]:
print(4+5)
print(4-5)
print(4*5) 
print(4/5)  # Division
print(1//2) # Floor Division
print(2**2) # Exponentiation
print(5%4)  # Modulus
print(4 == 5) # Equal
print(4 != 5) # Not Equal
print(4 > 5)  # Greater than
print(4 < 5)  # Less tha
print(4 >= 5) # Greater than or equal to
print(4 <= 5) # Less than or equal to

9
-1
20
0.8
0
4
1
False
True
False
True
False
True

In [995]:
if 5> 2 or 5>20:
    print("5 is the greater than the rest!")

5 is the greater than the rest!

In [996]:
if 5> 2 and 5>20:
    print("5 is the greater than the rest!")
else:
    print("5 is not the greater than the rest!")

5 is not the greater than the rest!

In [23]:
if not(5 > 2):
    print("5 is not greater than 2")

In [998]:
total = 5

if 30 > 20:
    total += 30

print(total)


    # total = total + 30

35

In [999]:
total = 5

if 30 > 20:
    total -= 30

print(total)

-25

In [1000]:
total = 5

if 30 > 20:
    total *= 30

print(total)

150

In [1001]:
total = 5

if 30 > 20:
    total /= 30

print(total)

0.16666666666666666

In [ ]:
txt =  "Am going to classs!"

if "going" in txt:           #condition
    print("going is present!")

going is present!

In [ ]:
num = [1,3,5,7]

if 90 in num:         # conditions
    print("90 is present")
else:
    print("90 is not in the list of numbers")


print(90 in num)  # False

90 is not in the list of numbers
False

In [1004]:
print(90 not in num)  # False

True

In [1005]:
y = "ola"
x = "segun"

num1 = 40
num2 = 40

print(num1 is num2)

print(y is x)

True
False

In [1006]:
num1 = 50
num2 = 40

print(num1 is not num2)

True

#### ðŸ”¹ 3. Python Lists

**Notes:**

* A list is an ordered, changeable collection.

In [1007]:
fruits = ["apple", "banna", "cherry", 345, 5.6, True, False, 3+4j]

##### Access List Items

* Indexing: `fruits[0]` â†’ `"apple"`
* Negative Index: `fruits[-1]` â†’ `"cherry"`

In [1008]:
fruits[2]

'cherry'

#### Change List Items

In [1009]:
fruits[1] = "mango"

In [1010]:
fruits[1]= "banana"

print(fruits)

['apple', 'banana', 'cherry', 345, 5.6, True, False, (3+4j)]

In [1011]:
fruits[7] = "something else"

fruits

['apple', 'banana', 'cherry', 345, 5.6, True, False, 'something else']

##### Add List Items

In [1012]:

fruits = ["apple", "banna", "cherry"]
# fruits.append("orange")
fruits.insert(1, "kiwi")

fruits

['apple', 'kiwi', 'banna', 'cherry']

##### Remove List Items

In [1013]:

fruits = ["apple", "banana", "cherry"]
# fruits.remove("apple")
# fruits.pop()        # removes last
# del fruits[0]
fruits.clear()      # empties list

fruits

[]

##### Loop Lists

In [5]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    for x in fruit:
        print(x)
    print(fruit)

a
p
p
l
e
apple
b
a
n
a
n
a
banana
c
h
e
r
r
y
cherry

##### List Comprehension

In [1055]:
for x in range(2,5):
    print(x)

2
3
4

In [ ]:

lst = [0,1,2,3,4]
squares = [x**2 for x in range(5)]

print(squares)

[0, 1, 4, 9, 16]

##### Sort Lists

In [1168]:
num_s = [5,2,9,1]
num_s.sort()

print(num_s)

[1, 2, 5, 9]

##### Copy Lists

In [10]:

new_list = fruits.copy()
print(new_list)

['apple', 'banana', 'cherry']


##### Join Lists

In [1186]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

joined_list = list1 + list2

print(joined_list)

[1, 2, 3, 4, 5, 6]

In [1202]:
print(type(joined_list))

<class 'list'>

#### ðŸ”¹ 4. Python Tuples

**Notes:**

* Tuples are ordered, **immutable**.

In [1218]:
my_tuple = ("red", "blue", "green")

print(type(my_tuple))

<class 'tuple'>

In [11]:
my_tuple[1] = "yellow"

print(my_tuple[1])

NameError: name 'my_tuple' is not defined

##### Access Tuples

In [ ]:
print(my_tuple[1])

blue

##### Update Tuples

* Cannot directly update.
* Convert to list â†’ update â†’ back to tuple.

##### Unpack Tuples

In [1319]:
tpl =  ("sola", "bose", "monday")

lst = list(tpl)

lst[0] = "John"

new_tpl = tuple(lst)

new_tpl

print(type(new_tpl))

<class 'tuple'>

In [16]:
tpl =  ("sola", "bose", "monday")
lst = list(tpl)
lst.append("ade")
lst[1] = "book"
tpl1 = tuple(lst)
print(lst)
print(tpl1)
print(type(tpl1))

['sola', 'book', 'monday', 'ade']
('sola', 'book', 'monday', 'ade')
<class 'tuple'>

In [1320]:
(a, b, c) = my_tuple

##### Loop Tuples

In [1333]:
for color in my_tuple:
    print(color)

red
blue
green

##### Join Tuples

In [1356]:

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2

print(tuple3)

(1, 2, 3, 4, 5, 6)

#### ðŸ”¹ 5. Python Sets

**Notes:**

* Set is unordered, unindexed, no duplicates.

In [1377]:
my_set = {"apple", "banana", "cherry", "banana"}

print(my_set)

{'banana', 'apple', 'cherry'}

In [1387]:
print(my_set[0])

TypeError: 'set' object is not subscriptable


##### Add & Remove

In [1389]:
my_set = {"apple", "banana", "cherry", "banana"}

my_set.add("mango")
my_set.remove("banana")

print(my_set)

{'apple', 'cherry', 'mango'}

##### Set Operations

In [1406]:
a = {1,2,3}
b = {3,4,5}
print(a.union(b))      # {1,2,3,4,5}
print(a.intersection(b))  # {3}
print(a.difference(b))

{1, 2, 3, 4, 5}
{3}
{1, 2}

#### ðŸ”¹ 6. Python Dictionaries

**Notes:**

* Stores data as key-value pairs.

In [1426]:
student = {"name": "John", "age": 20, "course": "Python"}

print(student["name"])
print(student["age"])
print(student["course"])

print(type(student))

John
20
Python
<class 'dict'>

##### Access

In [ ]:
lst = [1,3,4,[0,9,8]]

In [1427]:
print(student["name"])
print(student.get("age"))

John
20

##### Nested Dictionary

In [ ]:
employee = { "emp1" : {"name": "Alice", "age": 30}, "emp2" : {"name": "Bob", "age": 25}}

In [1493]:
for emply in employee.items():
    # print(emply)
    for x in emply[1].items():
        print(x[1])

Alice
30
Bob
25

##### Change

In [1521]:
student = {"name": "John", "age": 20, "course": "Python"}

In [1514]:
student["age"] = 21

In [1515]:
print(student)

{'name': 'John', 'age': 21, 'course': 'Python'}

##### Add

In [1516]:
student["grade"] = "A"

In [1517]:
print(student)

{'name': 'John', 'age': 21, 'course': 'Python', 'grade': 'A'}

##### Remove

In [1522]:
student.pop("course")

'Python'

In [ ]:
print(student)

{'name': 'John', 'age': 20}

#### Loop

In [1526]:
for key, value in student.items():
    print(key, value)

name John
age 20




**Exercise:**

1. Check if `15` is greater than `7`.
2. Use `bool()` to check the truthiness of `""` (empty string), `[]` (empty list), and `"Hello"`.

---



**Exercise:**

1. Write an expression to check if `10` is divisible by `2`.
2. Test if `"a"` is in `"apple"`.
3. Use `and` to check if `5 < 10` **and** `10 < 20`.

---



**Exercises:**

1. Create a list of 5 numbers, change the second number, and print the list.
2. Add `"grape"` to a fruit list.
3. Remove the last item from the list.
4. Use a loop to print all items.
5. Create a new list of even numbers between 1 and 10 using list comprehension.

---

**Exercises:**

1. Create a tuple of 4 cities and print the second one.
2. Unpack a tuple into 3 variables.
3. Join two tuples and print the result.

---

**Exercises:**

1. Create a set of 3 colors and add one more.
2. Remove an item from the set.
3. Find the union and intersection of `{1,2,3}` and `{2,3,4}`.

---



**Exercises:**

1. Create a dictionary with keys: `"name"`, `"age"`, `"city"`.
2. Update the `"city"` value.
3. Add a new key `"grade"`.
4. Loop and print all keys and values.

---