In [2]:
import sqlite3  # Import SQLite3 module

In [3]:
# Connect to a database (creates 'example.db' if it doesn't exist)
conn = sqlite3.connect('example.db')

In [3]:
# Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [4]:
# Create a table named 'students'
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER,
        grade REAL
    )
''')

In [5]:
# Insert data into the 'students' table
cursor.execute('''
    INSERT INTO students (name, age, grade) VALUES (?, ?, ?)
''', ('Alice', 20, 85.5))

cursor.execute('''
    INSERT INTO students (name, age, grade) VALUES (?, ?, ?)
''', ('Bob', 22, 90.0))

In [6]:
# Commit the transaction to save changes
conn.commit()

In [ ]:
# Query all records from the 'students' table
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()

print("All Students:")



for row in rows:
    print(row[1])  # Output: (1, 'Alice', 20, 85.5), (2, 'Bob', 22, 90.0)

All Students:
(1, 'Alice', 20, 95.0)
(2, 'Bob', 22, 90.0)

In [9]:
# Update a record
cursor.execute('''
    UPDATE students SET grade = ? WHERE name = ?
''', (95.0, 'Alice'))

In [23]:
name = "Alice"

cursor.execute('''
               SELECT * FROM students where name = ? 
''', (name,))
rows = cursor.fetchone()

print(rows)

(1, 'Alice', 20, 95.0)

In [27]:
name = input("Please provide your name")
age = int(input("Please provide your age"))
grade = float(input("Please provide your grade"))

stmt = "INSERT INTO students (name, age, grade) VALUES (?, ?, ?)"

cursor.execute(stmt, (name, age, grade))

conn.commit()

In [33]:
cursor.execute(''' 
               delete from students where id = ?''', (3,))

conn.commit()